
<div class="col-md-2">
  <div class="dropdown">
    <button class="value-button-edit-2"><div class="creature-heading"><sm>Objects</sm></div></button>
    <div class="dropdown-content" style="left:0;">
      <label class="btn mapElement" id="obj-Tree">
        <input type="radio" class="mapElement" name="options" value="Tree" autocomplete="off" checked> Tree
      </label>
      <label class="btn mapElement" id="obj-Rock">
        <input type="radio" class="mapElement" name="options" value="Rock" autocomplete="off"> Rock
      </label>
      <label class="btn mapElement" id="obj-Fort">
        <input type="radio" class="mapElement" name="options" value="Fort" autocomplete="off"> Fort
      </label>
      <label class="btn mapElement" id="obj-Chest">
        <input type="radio" class="mapElement" name="options" value="Chest" autocomplete="off"> Chest
      </label>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="dropdown" display = "block">
    <button class="value-button-edit-2"><div class="creature-heading"><sm>Monsters</sm></div></button>
    <div class="dropdown-content" style="left:0;">
      <label class="btn mapElement" id="obj-Orc">
        <input type="radio" class="mapElement" name="options" value="Orc" autocomplete="off"> Orc
      </label>
      <label class="btn mapElement" id="obj-Undead">
        <input type="radio" class="mapElement" name="options" value="Undead" autocomplete="off"> Undead
      </label>
      <label class="btn mapElement" id="obj-Wolfrider">
        <input type="radio" class="mapElement" name="options" value="Wolfrider" autocomplete="off"> Wolfrider
      </label>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="dropdown" display = "block">
    <button class="value-button-edit-2"><div class="creature-heading"><sm>Characters</sm></div></button>
    <div class="dropdown-content" style="left:0;">
      <% @adventure.characters.each do |character| %>
        <label class="btn mapElement" id="char-<%= character.race %>-<%= character.name %>">
          <input type="radio" class="mapElement" name="options" value="Orc" autocomplete="off"><%= character.name %>
        </label>
        <br>

      <% end %>
    </div>
  </div>
</div>
<div class="col-md-3">
  <label class="value-button-edit-2" id="rm-Nil">
    <input type="radio" class="mapElement" name="options" value="Remove" id="rm-Nil" autocomplete="off" style="display:none"><div class="creature-heading"><sm>Remove</sm></div>
  </label>
</div>
