<table class="table">
  <tbody>
      <tr>
          <td><button type="button"  class="btn btn-secondary btn-lg" id="00">Nil</button></td>
          <td><button type="button" class="btn btn-secondary btn-lg" id="01">Nil</button></td>
          <td><button type="button" class="btn btn-secondary btn-lg" id="02">Nil</button></td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-secondary btn-lg" id="10">Nil</button></td>
          <td><button type="button" class="btn btn-secondary btn-lg" id="11">Nil</button></td>
          <td><button type="button" class="btn btn-secondary btn-lg" id="12">Nil</button></td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-secondary btn-lg" id="20">Nil</button></td>
          <td><button type="button" class="btn btn-secondary btn-lg" id="21">Nil</button></td>
          <td><button type="button" class="btn btn-secondary btn-lg" id="22">Nil</button></td>
        </tr>
  </tbody>
</table>
