<table class="table table-mapgrid-mini">
  <tbody>
    <% data = JSON.parse map.data%>
    <% (0..2).each do |i| %>
      <tr>
        <% (0..2).each do |j| %>
          <td>
            <% currElement = data[i][j].to_s %>
            <% image_string = "url(/assets/" + currElement + ".jpg);"  %>
            <button type="button"  class="btn-mapgrid-mini" style = "background-image: <%= image_string %>"  ></button>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
