<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<div class="row">
  <div class="col-md-12">
    <div class="box-border">
      <div class="font-title"><font color="white"><td>YOUR CHARACTERS</td></font></div>
      <br>
      <!-- <ul><%= render 'characters/modal', character: @character, user: current_user %></ul> -->

      <div id = 'character-showings'>
        <%= render 'users/character_showings'%>
      </div>
    </div>
  </div>
</div>
