@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

#logo {
  float: left;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
}

.center {
  text-align: center;
}
