// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button{
  background-size: 100%;
}

.btn-mapgrid {
  background-color: #08c;
  border-color: #08c;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border-radius: 0px;
  width: 100px;
  height: 100px;
}
