// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-mapgrid{
  background-color: #08c;
  border-spacing: 0px 0px;
  //was
  width: 100px;
  //border: 10px solid black;
  padding: 0px;
}

td {
  padding: 0px;
  //width: 200px;
  border: none;

}

tr {
  padding: 0px;
  //height: 200px;
  //width: 200px;
  border: none;

}

.btn-mapgrid {
  background-size: 100%;
  background-color: #08c;
  border-color: #08c;
  color: #fff;
  //text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border-radius: 0px;
  //width:100%;
  //height:100%;
  width:150px;
  height:150px;

}
