<div class="container">
  <footer class="footer">
    <small>
      <a>Akiba Sato, Bruce Chen, Cameron Braunstein, Tom Willkens</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
